
.angry-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#item-0 {

   background-color: #aebd95; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#item-1 {

   background-color: #68e7a7; 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 5;
   
}
#item-2 {

   background-color: #aca788; 
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 4;
   
}
#item-3 {

   background-color: #E595DA; 
   grid-row-start: 3;
   grid-column-start: 4;

   grid-row-end: 5;
   grid-column-end: 7;
   
}
#item-4 {

   background-color: #765D57; 
   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 3;
   grid-column-end: 7;
   
}

