@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .6s ease;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'PT Serif', serif; */
}

header{
    background: url(./img/pexels-ksenia-chernaya-3952077.jpg);
    background-size: cover;
    padding: 7.1875em 0em;
}
/* ======nav/styling====== */
nav{
    position: fixed;
    width: 100%;
    top: -0.3125em;
    display: flex;
    justify-content: space-between;
    background-color: #71727a;
    z-index: 1;
    padding: 1em;
}
nav .menu{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
}
nav .menu .hamburger{
    display: none;
    cursor: pointer;
}
nav .menu .hamburger .bar{
    display: block;
    background: #ffff;
    width: 35px;
    height: 3px;
    margin: 10px auto;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
nav ul{
    display: flex;
    gap: 3em;
    list-style: none;
    align-items: center;
}
nav ul .navlink{
    color: #ffff;
    font-size: clamp(.9rem, 8vw, 1.2rem);
    text-decoration: none;
}
nav ul li .navlink:focus{
    color: #41a451;
}
nav ul .navlink:hover{
    color: #41a451;
}
nav button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: .9rem;
    padding: 0em 2em;
    background: #ffff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}
nav button:hover{
    color: #ffff;
    background: #000;
}
/* ======banner text/styling====== */
header .bgtexts{
    text-align: center;
    padding: 7.1875em 0;
    color: #000;
}
header .bgtexts h1{
    font-size: clamp(2rem, 8vw, 2.8125rem);
    font-family: 'PT Serif', serif;
}
header .bgtexts p{
    font-size: clamp(1.200rem, 8vw, 1.125rem);
    margin-top: 2.1875em;
}
/* ======contact details======= */
.subcontain{
  padding: 7.1875em 0;
}
.subcontain section{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0 15px;
  margin:0 6em;
}
.subcontain section div{
  margin: 0 15px;
}
.subcontain section div h2{
  font-family: 'PT Serif', serif;
  font-size: 1.625rem;
  line-height: 36px;
  transition: all .5s ease-in-out;
}
.subcontain section div h2:hover{
  color: #41a451;
}
.subcontain section div p{
  font-size: 15px;
  line-height: 25px;
  font-weight: lighter;
  color: #737373;
}
/* =====get in touch===== */
.subcontain1{
  padding: 7.1875em 0;
  background-color: #f5f5f5;
}
.subcontain1 .content{
  text-align: center;
}
.subcontain1 .content h2{
  font-size: clamp(1.5rem, 4vw, 2.8125rem);
  font-family: 'PT Serif', serif;
  line-height: 3.375em;
}
.subcontain1 .content div input, textarea{
  padding: 1em 1.5625em;
  border-radius: 5px;
  margin-bottom: 1em;
  outline: none;
  border: 1px solid #737373;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  width: 50%;
}
.subcontain1 .content button{
  padding: 18px 35px;
  border: none;
  color: #ffff;
  background-color: #34c74a;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  width: 20%;
}
.subcontain1 .content button:hover{
  background: #323232;
}
/* =========footer/styling========== */
footer{
  padding: 7.5em 0 6.875em;
  background: #323232;
}
footer .subcontain4{
  padding: 0 0.9375em;
  margin:0 7.1875em ;
}
footer .subcontain4 .flogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .subcontain4 ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 3.875em 0 ;
}
footer .subcontain4 ul li{
  padding: 0 1.25em;
  border-right: 1px solid #f5f5f5;
}
footer .subcontain4 ul>:nth-child(5){
  border: none;
}
footer .subcontain4 ul li a{
  color: #ffff;
  font-weight: lighter;
}
footer .subcontain4 .socials{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .subcontain4 .socials div{
  padding: 0 1.125em;
}
footer .subcontain4 .socials div a{
  color: #ffff;
  font-size: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .subcontain4 .socials div i{
  padding: .625em;
  border-radius: 50em;
  background: #3C3C3C;
}
footer .subcontain4 .socials div i:hover{
  background: #34c74a;
}
footer .subcontain4 .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 0.875rem;
  font-weight: lighter;
  margin-top: 6.25em;
}
/* ========Screen changes========== */
@media (width <= 767px){
  /* ======nav bar====== */
  nav{
      position: fixed;
      background: #444141;
      flex-direction: column;
      width: 100%;
  }
  nav .menu{
      display: flex;
      justify-content: space-between;
  }
  nav .menu .hamburger{
      display: block;
  }
  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(12.5px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-12.5px) rotate(-45deg);
  }
  .navmenu{
      position: fixed;
      top: 70px;
      left: -100%;
      width: 100%;
      gap: .8em;
      background: #444141;
      padding: 2em 0 2.0625em;
      flex-direction: column;
      transition: .5s ease-in-out;
  }
  nav button{
      position: fixed;
      top: 1%;
      left: 61%;
      padding: 0em 1.5em;
      display: none;
  }
  .navmenu.active{
      left: 0;
  }
  /* ======banner text====== */
  header{
      padding: 2.1875em 0em;
  }
  header .bgtexts{
      padding: 2.1875em 0 5em;
  }
  header .bgtexts h1{
      margin-top: 2em;
  }
  header .bgtexts span::after{
      width: 15%;
  }
  /* ======contact details======= */
.subcontain{
  padding: 3.125em 0;
}
.subcontain section{
  flex-direction: column;
  align-items: center;
}
/* =======map======== */
map iframe{
  width: 100%;
}
/* =====get in touch===== */
.subcontain1{
  padding: 50px 0;
  background-color: #f5f5f5;
}
.subcontain1 .content div input, textarea{
  width: 90%;
}
.subcontain1 .content button{
  width: 90%;
}
/* ======footer====== */
footer .subcontain4 ul{
  flex-direction: column;
}
footer .subcontain4 ul li{
  margin-top: 0.625em;
  border-right: none;
}
footer .subcontain4 .socials div{
  padding: 0 0.625em;
}
}
/* =======TABLET SCREEN========= */
@media (767px < width <= 1023px){
  /* ======nav bar====== */
  nav{
      position: fixed;
      background: #444141;
      flex-direction: column;
  }
  nav .menu{
      display: flex;
  }
  nav .menu .hamburger{
      display: block;
  }
  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(12.5px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-12.5px) rotate(-45deg);
  }
  .navmenu{
      position: fixed;
      top: 70px;
      left: -100%;
      width: 100%;
      gap: .8em;
      background: #444141;
      padding: 2em 0 2.0625em;
      flex-direction: column;
      transition: .5s ease-in-out;
  }
  nav button{
      position: fixed;
      top: 1%;
      left:80%;
      height: 5vh;
  }
  .navmenu.active{
      left: 0;
  }
  /* =======Banner Text======= */
  header{
      padding: 8.75em 0em 7.5em;
  }
  header .bgtexts{
      padding: 0;
  }
   /* ======contact details======= */
.subcontain{
  padding: 3.125em 0;
}
.subcontain section{
  flex-wrap: wrap;
  align-items: center;
}
/* =======map======== */
map iframe{
  width: 100%;
}
/* =====get in touch===== */
.subcontain1{
  padding: 50px 0;
  background-color: #f5f5f5;
}
.subcontain1 .content div input, textarea{
  width: 75%;
}
.subcontain1 .content button{
  width: 40%;
}
}